# Google Cloud Function pre-installed packages: https://cloud.google.com/functions/docs/concepts/python-runtime

click==6.7
Flask==1.0.2
itsdangerous==0.24
MarkupSafe==1.0
pip==18.0
# requests==2.19.1
setuptools==40.2.0
Werkzeug==0.15.3
wheel==0.31.1
google-cloud-kms==1.2.1

# Custom/Override packages
backoff==1.8.0
python-dateutil==2.7.5
requests==2.21.0
Jinja2==2.10.1
